{% extends "layout.html" %}

{% block content %}

    <h1>Hi, {{ current_user.username }}!</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}
            {{ form.post(col=32,rows=4)}}<br>
            {% for error in errors %}
            <spam style="color: red;">[{{ error }}]</spam>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% for post in posts %}
    <div class="container">
        {{ post.author.username }} says: {{ post.content }}
    </div>
    {% endfor %}


{% endblock %}